@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Raleway:wght@500&display=swap');


body{
    margin: 0;
    color: white;
    font-family: 'Baloo 2';
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background: #085078;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #085078, #85D8CE, #8E54E9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #085078, #85D8CE, #8E54E9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 400% 400%;
    animation: animate-background 10s infinite ease-in-out;
}
@keyframes animate-background {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}
.scores > div {
    display: flex;
    align-items: center;
    gap: 5px;
}
.compScore, .playerScore {
    font-size: 40px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    gap: 10px;
}
.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: #f4f4f4;
    width: 400px;
    height: 300px;
    color: black;
    border-radius: 20px;
    box-shadow:  0px 4px 5px 0px rgb(73, 73, 73), inset 0px 0px 3px 0px grey;
}

.header, .footer {
  text-align: center;
  margin: 0;
  font-family: 'Raleway';
  letter-spacing: .1em;
  background-color: beige;
  color: black;
  padding: 15px;
  box-shadow: 0px -1px 7px 0px black;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.footer > p{
    margin: 0;
}
.footer > a {
    text-decoration: none;
    color: black;
    height: auto;
}
.footer > a > img {
    width: 45px;
    height: auto;
}
.footer > a >img:hover {
    transition: all .4s ease-in-out;
    transform: rotate(360deg) scale(1.5);
}
.results {
    margin: 0;
    width: 90%;
}
.results > p {
    text-align: center;
}
p {
    width: auto;
}
.scores {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.finalResult {
    width: 110px;
    height: 40px;
    border-radius: 10px 10px 50px 50px;
    justify-content: center;
    color: white;
    background-color: rgb(90, 89, 89);
    box-shadow: 0 0 5px rgb(90, 89, 89), 0 2px 12px rgb(90, 89, 89);
    border-color: #696969;
    transition: all 1s;
}
.won {
    background-color:rgb(107, 245, 107);
    box-shadow: 0 0 5px rgb(107, 245, 107), 0 2px 10px rgb(107, 245, 107);
    color: rgb(10, 104, 10);
    border: 1px solid rgb(56, 235, 56);
}
.tie {
    background-color: #ccc7c7;
    box-shadow: 0 0 5px #a7a7a7, 0 2px 10px #a7a7a7;
    color: #666565;
    border: 1px solid #afafaf;
}
.lose {
    background-color: rgb(255, 111, 135);
    box-shadow: 0 0 5px rgb(252, 72, 117), 0 2px 10px rgb(252, 72, 117);
    color: rgb(252, 227, 227);
    border: 1px solid rgb(245, 87, 127);

}
.perResultDetail {
    font-size: 15px;
    color: rgb(66, 66, 66);
}
b{
    font-size: 18px;
    color: black;
}
.pickUp {
    width: 70%;
    height: auto;
}
.pickUp > .paper {
    margin: 0 12px 0 12px;
}
.pickUp > button {
   width: 100px;
   height: auto;
}
img {
    width: 80px;
    height: 80px;
    transition: all 1s;
    border-radius: 100%;
}
.rock:hover, .paper:hover, .scissor:hover {
   transform: scale(1.1);
   transform-origin: bottom;
   box-shadow: inset 0px -6px 8px 0px black, 0px 4px 5px black;
}